{% extends 'AdminMain.html' %}
{% load static %}
{% block csslink %}

{% endblock %}

{% block body %}
<section id="table">
 <div class="table-responsive">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">#</th>
     <th scope="col">Name</th>
     <th scope="col">Department</th>
     <th scope="col">Session</th>
    </tr>
   </thead>
   <tbody>
    {% for ob in obj %}
    <tr>
     <th scope="row">{{forloop.counter}}</th>
     <td>{{ob.student.full_name}}</td>
     <td>{{ob.department_name}}</td>
     <td>{{ ob.session }}</td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
 </div>
</section>


{% endblock %}